<section id="about" >
    <div class="container content-section">
        <div class="row">
        <div class="col-lg-12 ">


            <div class="col-lg-12 ">
                <h1>About</h1>
             </div>

            <div>
               <p class="col-md-4">On <a href="https://www.flickr.com/photos/mapbox/sets/72157661024969112">November 9th, 2015</a>, satellite industry and the global development leaders came together for <span>one day of presentations and discussions</span> about satellite imagery and data processing capabilities.</p>

                <p class="col-md-4">Satellite imagery and big data tools provide <span>powerful insights into issues central to global development:</span> climate change, population growth, and natural resource availability. We are just scratching the surface of what is possible.</p>

                <p class="col-md-4">If you’re interested in the <span>future of satellite imagery</span> to solve global challenges, follow #SatSummit on Twitter for information on the next event.
                </p>

            </div>
            <div class="text-center col-lg-12 cta">
               <a class="btn" href="https://twitter.com/intent/user?screen_name=sat_summit">Follow #SatSummit on Twitter</a>
            </div>
            </div>
        </div>
        </div>
    </section>
