<section id="agenda" >
  <div class="container content-section">
    <div class="row">
      <div class="col-lg-8">
        <div class="col-lg-12 ">
          <h1>Agenda</h1>
        </div>
      </div>
      <div class="col-lg-12">
        <table class="table table-condensed"><thead>
          <tr>
          <th>Time</th>
          <th>Event</th>
          </tr>
          </thead><tbody>
          <tr>
          <td><span class="time">08:00 - 09:00 </span></td>
          <td>Registration</td>
          </tr>
          <tr>
          <td><span class="time">09:00 - 09:15 </span></td>
          <td>Opening Session</td>
          </tr>
          <tr>
          <td><span class="time">09:15 - 10:00 </span></td>
          <td>
            <a href="/state-of-industry" class="panel-name">Ignite presentations : The State of the Industry</a>
            <span class="participants"><a href="https://www.dropbox.com/sh/qmcb9dhnpw49f04/AADw7UUjrZOcLfKSHEMTK8WLa?dl=0">Carissa Christensen</a>, <a href="https://www.dropbox.com/sh/qma9nmajz8dn7bz/AAB_Obft7j-ANp9s1sq-8jdNa?dl=0">Kevin Bullock</a>, <a href="https://www.dropbox.com/sh/gwnpotioyyhkeoc/AAB8Bnd9d1xlzL5vLec8ZlZna?dl=0">Chris Biddy</a>, Marc Prioleau</span>
          </td>
          </tr>
          <tr>
          <td><span class="time">10:00 - 10:45 </span></td>
          <td>
            <a href="/state-global-development" class="panel-name">PANEL: The State of Earth Observation for Global Development</a>
            <span class="participants">Marc Prioleau, Bruno Sanchez-Andrade Nuno, Kass Green, Hunter Goldman, Gustavo Faleiros</span>
          </td>
          </tr>
          <tr>
          <td><span class="time">10:45 - 11:00 </span></td>
          <td>COFFEE</td>
          </tr>
          <tr>
          <td><span class="time">11:00 - 11:45 </span></td>
          <td>
            <a href="/applications-human-rights" class="panel-name">Ignite Presentations: Applications of Earth Observation for Human Rights and Development</a>
            <span class="participants">Jeremy Hale, Amit Kapadia, <a href="https://www.dropbox.com/sh/ljjmam1uwaa52g9/AAB4uCaSB4PS6HfMnrAhT9lka?dl=0">Ian Schuler</a></span>
          </td>
          </tr>
          <tr>
          <td><span class="time">11:45 - 12:30 </span></td>
          <td>
            <a href="/needs-and-opportunities" class="panel-name">PANEL: Development Practitioner Roundtable: Current Needs and Opportunities</a>
            <span class="participants">Ian Schuler, Keiko Saito, <a href="https://www.dropbox.com/sh/rovrldsbnc98h95/AADlCFH_i0FF5zGPuaBnn8D2a?dl=0">Francis Gassert</a>, Kate Chapman, James H. Faghmous, Susan Wolfinbarger</span>
          </td>
          </tr>
          <tr>
          <td><span class="time">12:30 - 13:45 </span></td>
          <td>LUNCH</td>
          </tr>
          <tr>
          <td><span class="time">13:45 - 14:30 </span></td>
          <td><a href="/economic-growth" class="panel-name">PANEL: Investing in Economic Growth and Social Empowerment through Earth Observation</a>
            <span class="participants">Paul Goodman, Thomas Gillespie, Larisa Serbina, Rose Jackson, Alex MacDonald</span>
          </td>
          </tr>
          <tr>
          <td><span class="time">14:30 - 15:15 </span></td>
          <td>
            <a href="/imagery-to-intelligence" class="panel-name">Ignite Presentations: Imagery to Intelligence - The Challenge of Distribution</a>
            <span class="participants"><a href="https://www.dropbox.com/sh/0zmb39f706hjb8j/AADu912WYT8bSz6Ku8S64sD8a?dl=0">Camilla Mahon</a>, <a href="https://www.dropbox.com/sh/edfxu8m6yqcsjzf/AADBdNv95zBBvPBQq8pab6fva?dl=0">Jed Sundwall</a>, <a href="https://www.dropbox.com/sh/fz9k8fulgt41l73/AADVSKANRIHaHKZpTWX9SNpWa?dl=0">Bronwyn Agrios</a></span>
          </td>
          </tr>
          <tr>
          <td><span class="time">15:15 - 15:30 </span></td>
          <td>COFFEE</td>
          </tr>
          <tr>
          <td><span class="time">15:30 - 16:15 </span></td>
          <td>
            <a href="/collaboration" class="panel-name">PANEL: Collaboration between Satellite and Development Sectors</a>
            <span class="participants">Alexander Howard, Saara Romu, <a href="https://www.dropbox.com/sh/yyskao7cb87afbi/AABm3X9H98Cfyci7YeI-Dao3a?dl=0">Albert Anoubon-Momo</a>, Jeremy Hale</span>
          </td>
          </tr>
          <tr>
          <td><span class="time">16:15 - 17:00 </span></td>
          <td>
            <a href="/disaster-response" class="panel-name">PANEL: Imagery for Disaster Response</a>
            <span class="participants">Robinson Meyer, Taner Kodanaz, Lars Bromley, Keiko Saito, John Crowley, Mikel Maron</span>
          </td>
          </tr>
          <tr>
          <td><span class="time">17:00 - 17:05 </span></td>
          <td>Closing Remarks</td>
          </tr>
          <tr>
          <td><span class="time">17:00 - 19:30 </span></td>
          <td>Social Event @ Hill Country BBQ</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
