<section id="presentations" >
    <div class="container content-section">
        <div class="row">
        <div class="col-lg-12 ">


            <div class="col-lg-12 ">
                <h1>presentations</h1>
             </div>

            <div class="col-lg-12">
               <p class="col-md-8"> We'll have a mix of panels and short ignite presentations throughout the day. Panels will explore the oportunities to better bridge the earth observation and development communities. Ignite presentations will highlight real world applications of satellite imagery for development or discuss imagery collection methods, analysis and distribution.</p>
            </div>
            <div class="col-lg-12 presenters-grid">
              <div class="col-md-4">
                  <div class="presenter">
                  <div class="photo alanna"></div>
                  <h3>Alanna Simpson</h3>
                  <ul>
                      <li>PhD Sr. Disaster Risk Management Specialist @ World Bank Innovation Lab Team </li>
                      <li><a href="https://twitter.com/GFDRR">@GFDRR</a></li>
                  </ul>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="presenter">
                  <div class="photo eric"></div>
                  <h3>Eric Gundersen</h3>
                  <ul>
                      <li>CEO @ Mapbox</li>
                      <li><a href="https://twitter.com/ericg">@ericg</a></li>
                  </ul>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="presenter">
                  <div class="photo jed"></div>
                  <h3>Jed Sundwall</h3>
                  <ul>
                      <li>Open Data @ Amazon Web Services</li>
                      <li><a href="https://twitter.com/jedsundwall">@jedsundwall</a></li>
                  </ul>
                  </div>
              </div>

              <div class="col-md-4">
              	<div class="presenter">
              	<div class="photo mark"></div>
              	<h3>Marc Prioleau</h3>
                  <ul>
                      <li>Managing Director @ Prioleau Advisors</li>
                      <li><a href="https://twitter.com/mprioleau">@mprioleau</a></li>
                  </ul>
                  </div>
              </div>
              <div class="col-md-4">
              	<div class="presenter">
              	<div class="photo bronwyn"></div>
              	<h3>Bronwyn Agrios</h3>
                  <ul>
                      <li>Head of Product @ Astro Digital</li>
                      <li><a href="https://twitter.com/bronwynagrios">@bronwynagrios</a></li>
                  </ul>
                  </div>
              </div>

            <div class="col-md-4">
              <div class="presenter">
              <div class="photo albert"></div>
              <h3>Albert Anoubon-Momo</h3>
                <ul>
                    <li>Management and Program Analyst @ USAID</li>
                    <li><a href="https://twitter.com/SERVIRGlobal">@SERVIRGlobal</a></li>
                </ul>
                </div>
            </div>

   <div class="col-md-4">
              <div class="presenter">
              <div class="photo kass"></div>
              <h3>Kass Green</h3>
                <ul>
                    <li>President @ Kass Green and Associates</li>
                    <li></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo bruno"></div>
            	<h3>Bruno Sánchez-Andrade Nuño </h3>
                <ul>
                    <li>Data Scientist @ World Bank LLI Innovation Labs</li>
                    <li><a href="https://twitter.com/brunosan">@brunosan</a></li>
                </ul>
                </div>
            </div>


            <div class="col-md-4">
              <div class="presenter">
              <div class="photo kevin"></div>
              <h3>Kevin Bullock</h3>
                <ul>
                    <li>Director, Product Specialist @ DigitalGlobe </li>
                    <li><a href="https://twitter.com/kevin_bullock">@kevin_bullock</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
              <div class="presenter">
              <div class="photo kate"></div>
              <h3>Kate Chapman</h3>
                <ul>
                    <li>CTO @ Cadasta Foundation</li>
                    <li><a href="https://twitter.com/wonderchook">@wonderchook</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo ian"></div>
            	<h3>Ian Schuler</h3>
                <ul>
                    <li>CEO @ Development Seed </li>
                    <li><a href="https://twitter.com/ianschuler">@ianschuler</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo keiko"></div>
            	<h3>Keiko Saito</h3>
                <ul>
                    <li>Disaster Risk Management Specialist @ World Bank</li>
                    <li><a href="https://twitter.com/WorldBank">@WorldBank</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo susan"></div>
            	<h3>Susan Wolfinbarger</h3>
                <ul>
                    <li>Director, Geospatial Technologies Project @ AAAS</li>
                    <li><a href="https://twitter.com/SWolfinbarger">@SWolfinbarger</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo john"></div>
            	<h3>John Crowley</h3>
                <ul>
                    <li>Program Manager, Data for Climate Action @ UN Global Pulse</li>
                    <li><a href="https://twitter.com/jcrowley">@jcrowley</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo gustavo"></div>
            	<h3>Gustavo Faleiros</h3>
                <ul>
                    <li>Manager of Earth Journalism Network @ Internews Network</li>
                    <li><a href="https://twitter.com/gufalei">@gufalei</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo carissa"></div>
            	<h3>Carissa Christensen</h3>
                <ul>
                    <li>Managing Partner @ The Tauri Group</li>
                    <li><a href="https://twitter.com/taurispace">@taurispace</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo lars"></div>
            	<h3>Lars Bromley</h3>
                <ul>
                    <li>Principal Analyst and Research Advisor @ UNOSAT</li>
                    <li><a href="https://twitter.com/UNOSAT">@UNOSAT</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
              <div class="presenter">
              <div class="photo saara"></div>
              <h3>Saara Romu</h3>
                <ul>
                    <li>Senior Project Officer, Global Development @ Gates Foundation</li>
                    <li><a href="https://twitter.com/SaaraRomu">@SaaraRomu</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo jeremy"></div>
            	<h3>Jeremy Hale</h3>
                <ul>
                    <li>Sales Manager, North America, Geo-Intelligence @ Airbus</li>
                    <li><a href="https://twitter.com/AirbusDS_Geo_NA">@AirbusDS_Geo_NA</a></li>
                </ul>
                </div>
            </div>

             <div class="col-md-4">
              <div class="presenter">
              <div class="photo camilla"></div>
              <h3>Camilla Mahon</h3>
                <ul>
                    <li>Engineer @ Mapbox</li>
                    <li><a href="https://twitter.com/camillacaros">@camillacaros</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
              <div class="presenter">
              <div class="photo rob"></div>
              <h3>Robinson Meyer</h3>
                <ul>
                    <li> Associate Editor, Technology @ The Atlantic</li>
                    <li><a href="https://twitter.com/yayitsrob">@yayitsrob</a></li>
                </ul>
                </div>
            </div>

             <div class="col-md-4">
              <div class="presenter">
              <div class="photo francis"></div>
              <h3>Francis Gassert</h3>
                <ul>
                    <li>Lead, Data for Impact @ World Resources Institute</li>
                    <li><a href="https://twitter.com/fgassert">@fgassert</a></li>
                </ul>
                </div>
            </div>

             <div class="col-md-4">
              <div class="presenter">
              <div class="photo amit"></div>
              <h3>Amit Kapadia</h3>
                <ul>
                    <li>Earth Imagery Engineer @ Planet Labs</li>
                    <li><a href="https://twitter.com/amitinho">@amitinho</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-4">
             <div class="presenter">
             <div class="photo james"></div>
             <h3>James H. Faghmous</h3>
               <ul>
                   <li>Assistant Professor and CTO of the Arnhold Institute @ The Icahn School of Medicine at Mount Sinai</li>
                   <li><a href="https://twitter.com/nomadic_mind">@nomadic_mind</a></li>
               </ul>
               </div>
           </div>

           <div class="col-md-4">
            <div class="presenter">
            <div class="photo rose"></div>
            <h3>Rose Jackson</h3>
              <ul>
                  <li>Chief of Staff @ Bureau of Democracy, Human Rights, and Labor</li>
                  <li><a href="https://twitter.com/rosejackson3">@rosejackson3</a></li>
              </ul>
              </div>
          </div>

          <div class="col-md-4">
           <div class="presenter">
           <div class="photo hunter"></div>
           <h3>Hunter Goldman</h3>
             <ul>
                 <li>Program Associate @ The Rockefeller Foundation</li>
                 <li><a href="https://twitter.com/huntergoldman">@huntergoldman</a></li>
             </ul>
             </div>
         </div>

         <div class="col-md-4">
          <div class="presenter">
          <div class="photo alexander"></div>
          <h3>Alexander Howard</h3>
            <ul>
                <li>Senior Editor, Technology and Society @ The Huffington Post</li>
                <li><a href="https://twitter.com/digiphile">@digiphile</a></li>
            </ul>
            </div>
        </div>

            </div>
            </div>
        </div>
        </div>
    </section>
